.navbar-custom {
  background: linear-gradient(90deg, #1a2a44, #0f1c2e);
  position: relative;
  margin-bottom: 0;
  padding: 1px 10px; /* Reducido al mínimo */
  z-index: 10;
 
}

.navbar-brand-logo {
  display: block;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  background-color: #1a2a44;
  margin: 0; /* Eliminado el margen */
  padding: 0; /* Eliminado el padding */
  width: 120px; /* Tamaño reducido */
  height: 120px; /* Tamaño reducido */
}

.nav-link-custom {
  margin: 0 5px;
  color: #ffffff;
  transition: color 0.3s ease;
  font-size: 20px; 
}

@media (max-width: 991px) {
  .navbar-custom {
    min-height: 30px; /* Reducido al mínimo */
    padding: 1px 8px; /* Reducido al mínimo */
  }

  .navbar-brand-logo {
    width: 80px; /* Tamaño aún más reducido */
    height: 80px; /* Tamaño aún más reducido */
  }
  .nav-link-custom {
    margin: 0 5px;
    color: #ffffff;
    transition: color 0.3s ease;
    font-size: 24px;
    text-align: center; 
  }
}

@media (max-width: 576px) {
  .navbar-custom {
    min-height: 40px; /* Reducido al mínimo */
    padding: 1px 5px; /* Reducido al mínimo */
  }
  .nav-link-custom {
    margin: 0 5px;
    color: #ffffff;
    transition: color 0.3s ease;
    font-size: 20px; 
    text-align: center;
  }
  .navbar-brand-logo {
    width: 80px; /* Tamaño aún más reducido */
    height: 80px; /* Tamaño aún más reducido */
  }
}
@media (min-width: 1020px) {
  .navbar-custom {
    max-height: 120px; /* Reducido al mínimo */
    padding: 1px 5px; /* Reducido al mínimo */
  }
  .navbar-brand-logo {
    width: 140px; /* Tamaño aún más reducido */
    height: 140px; /* Tamaño aún más reducido */
    margin-top: 25px;
  }
}
