.navbar-custom {
  background: linear-gradient(90deg, #1a2a44, #0f1c2e);
  position: relative;
  margin-bottom: 0;
  padding: 1px 10px;
  z-index: 10;
}

.navbar-brand-logo {
  display: block;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  background-color: #1a2a44;
  margin: 0;
  padding: 0;
  width: 120px;
  height: 120px;
}

/* Media queries para responsividad */
@media (max-width: 991px) {
  .navbar-custom {
    min-height: 30px;
    padding: 1px 8px;
  }
  .navbar-brand-logo {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 576px) {
  .navbar-custom {
    min-height: 40px;
    padding: 1px 5px;
  }
  .navbar-brand-logo {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 1020px) {
  .navbar-custom {
    max-height: 120px;
    padding: 1px 5px;
  }
  .navbar-brand-logo {
    width: 140px;
    height: 140px;
    margin-top: 25px;
  }
}