.tarjeta-pelicula-container-wrapper {
  position: relative; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  padding: 10px 20px;
}

.flecha-izquierda,
.flecha-derecha {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  transition: background-color 0.3s;
}

.flecha-izquierda {
  left: 0;
}

.flecha-derecha {
  right: 0;
}

.flecha-izquierda:hover,
.flecha-derecha:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.tarjeta-pelicula-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  padding-bottom: 20px;
  transition: transform 0.3s ease;
}

.tarjeta-pelicula {
  width: 300px;
  height: 350px; 
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.card {
  border: none;
  width: 100%;
  height: 100%; 
  margin: 0; 
  padding: 0;
}

.card-img-top {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  object-position: center;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-overlay-titulo,
.card-overlay-descripcion {
  margin: 5px 0;
  text-align: center;
  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-overlay-titulo{
  font-size: 24px;
}
.card-overlay-descripcion{
  font-size: 14px;
}
.text_categoria{
  text-align:left;
  margin-top: 10px;
  padding: 15px;
  color: aliceblue;
}
 
  @media (max-width: 768px) {
    .tarjeta-pelicula-container-wrapper {
      overflow-x: auto; /* Permite desplazamiento en pantallas pequeñas */
      white-space: nowrap;
      padding: 10px 0;
    }
  }
  